html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  background-color: #000000;
}

#renderCanvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 640px;
  height: 480px;
  border: 10px solid #333333;
  box-sizing: border-box;
}

#myCanvas {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  opacity: .5;
}


@media only screen and (max-width: 640px) {
  #renderCanvas {
    bottom: 220px;
    width: 100%;
    height: auto;
  }
}
